/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-color: #353430;
  --section-title: #353430;
  --header-color: #353430;
  --decor-color: #353430;
  --primary-title-color: #FFC2E6;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-color: #353430;
  --section-title: #353430;
  --header-color: #353430;
  --decor-color: #353430;
  --primary-title-color: #FFC2E6;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
  }

  .rec {
    display: none;
  }

  .rec::after {
    display: none;
  }
}