/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  background-color: var(--background-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
}

.rec {
  position: absolute;
  width: 52px;
  height: 26px;
  text-transform: uppercase;
  top: 10px;
  right: 19px;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  display: block;
}

.rec::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-block-start: 65px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  left: 10px;
  bottom: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--button-color);
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 3px solid var(--button-color);
  border-width: thin;
}

.no-focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--primary-title-color);
  text-shadow: 4px 4px 0 var(--accent-color); 
  font-weight: 700;
  line-height: 83%;
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--accent-color);
}

.header-p {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--header-color);
  margin-block-end: 66px;
  height: fit-content;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.sections {
  display: grid;
  gap: 20px;
}

.section_why {
  margin-block-start: 40px;
}

.section_h {
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title);
}

.section-a {
  line-height: 100%;
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.section-a:hover {
  border-bottom: 2px solid var(--text-color);
}

.section-a:focus-visible {
  outline: none;
  border: 3px solid var(--text-color);
  border-width: thin;
}

.cards {
  display: grid;
  gap: 20px;
}

.cards_h {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
}

.cards-title-easy_sovets {
  color: var(--title-color);
  font-size: 18px;
  margin-block-end: 20px;
}

.card_content {
  color: var(--text-color);
  display: grid;
  gap: 10px;
}

.font-weight-sovets {
  font-weight: 400;
}

.section_h-images {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
}

.section_images {
  display: grid;
  gap: 10px;
}

.cards_images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.cards_images-image {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
}

.focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--primary-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-block-size: 1024px;
  }

  .rec {
  right: 29px;
  top: 20px;
  }

  .decorated-zone::after {
  top: 20px;
  right: 20px;
  }

  .decorated-zone::before {
  left: 20px;
  bottom: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .no-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 173px;
    margin-block-end: 162px;
    grid-column: 1/3;
    margin-left: -20px;
  }

  .header-p {
    margin-block-end: 183px;
    grid-column: 2;
  }

  .main {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
  }

  .section-two-columns-grid {
    grid-template-columns: 1fr 2fr;
  }

  .section_why {
    margin-block-start: 60px;
  }

  .section_what .section_h {
    max-width: 236px;
  }

  .section_sovets {
    grid-template-rows: auto ;  
  }

  .section_sovets .cards {
    grid-column: 2;
  }

  .section_images {
    gap: 20px;
  }

  .cards_images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .cards_images li:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  .cards_images li:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  
  .cards_images li:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  
  .cards_images li:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  
  .cards_images li:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .cards_images-image {
    height: 100%;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 60px;
    min-block-size: 1024px;
  }

  .focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
  min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1/3;
  }
  
  .header__theme-menu-list {
  flex-direction: row;
  justify-content: center;
  margin-block-start: 0;
  }

  .no-focus {
    margin-block-start: 273px;
    margin-block-end: 114px;
  }

  .header-p {
  margin-block-end: 134px;
  }

  .section-two-columns-grid {
    grid-template-columns: 1fr 2.06fr;
  }

  .section_what .section_h {
    max-width: 315px;
  }

  .section_what .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    min-block-size: 768px;
   }
}