/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono",monospace;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --header-color: #000028;
  --primary-title-color: #DB00FF;
  --section-title: #ff0070;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
}